<h2 id='title'>Welcome to Ember.js</h2>

<span class="one">{{t 'foo' count=colorCount}}</span>
<span class="two">{{t 'age' age}}</span>
<span class="three">{{t 'person' 2}}</span>
<span class="four">{{t 'dependentPerson' numDependentPeople}}</span>

<a class='add-dependent' {{action 'addDependentPerson'}}>Add Dependent Person</a>
